@tailwind base;
@tailwind components;
@tailwind utilities;

/* 純CSS */
.chat-notification {
    display: flex;
    max-width: 24rem;
    margin: 0 auto;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
        0 10px 10px -5px rgba(0, 0, 0, 0.04);
}
.chat-notification-logo-wrapper {
    flex-shrink: 0;
}
.chat-notification-logo {
    height: 3rem;
    width: 3rem;
}
.chat-notification-content {
    margin-left: 1.5rem;
    padding-top: 0.25rem;
}
.chat-notification-title {
    color: #1a202c;
    font-size: 1.25rem;
    line-height: 1.25;
}
.chat-notification-message {
    color: #718096;
    font-size: 1rem;
    line-height: 1.5;
}

@layer components {
    .btn {
        @apply py-2 px-4 text-white font-semibold rounded-lg shadow-md;
    }
    .btn:focus {
        @apply outline-none ring-2 ring-opacity-75;
    }

    .btn-green {
        @apply bg-green-500;
    }
    .btn-green:hover {
        @apply bg-green-700;
    }
    .btn-green:focus {
        @apply ring-green-400;
    }

    .btn-blue {
        @apply bg-blue-500;
    }
    .btn-blue:hover {
        @apply bg-blue-700;
    }
    .btn-blue:focus {
        @apply ring-blue-400;
    }
}
